/* #test {
    outline: none;
}

#test:hover {
    background: gold;
}

#test:focus {
    background: mediumaquamarine;
} */

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.header {
    background: mediumaquamarine;
    width: 50px;
    height: 30px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.aside {
    background: peachpuff;
    width: 95px;
    height: 30px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.main {
    background: peru;
    width: 75px;
    height: 30px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.footer {
    background: tomato;
    font-family: "Beer Money";
}

@font-face {
    font-family: "Beer Money";
    src: url("beer\ money.ttf");
}

.first {
    border: 5px solid royalblue;
    /* margin: 5px;
    padding: 5px; */
}

.second {
    border: 5px solid rosybrown;
    /* margin: 5px 15px;
    padding: 5px 10px; */
}

.parent {
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: flex-end;
    align-items: start;
}

.nav-mini {
    align-items:center;
    background: yellowgreen;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.nav-mini div {
    background: thistle;
    border: solid salmon;
    height: 90px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: crimson;
    font-size: 45px;
}